[core]
  quotepath = false
  editor = vim -c \"set fenc=utf-8\"

[fetch]
  prune = true

[pull]
  rebase = false

[push]
  default = nothing

[merge]
  tool = vimdiff

[color]
  ui = auto

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[diff]
  compactionHeuristic = true

[status]
  showUntrackedFiles = all

[ghq]
  root = ~/.ghq
  root = ~/.go/src

[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  features = line-numbers decorations
  whitespace-error-style = 22 reverse
  syntax-theme = Nord

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[alias]
  a = add
  aa = add --all
  b = branch
  br = branch --remote
  ci = commit
  sw = switch
  d = diff
  dc = diff --cached
  dcn = diff --cached --name-only
  dn = diff --name-only
  dr = !git diff origin/$(git rev-parse --abbrev-ref HEAD)..$(git rev-parse --abbrev-ref HEAD)
  f = fetch
  l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --graph
  pull-dry-run = !git diff --stat --summary $(git rev-parse --abbrev-ref HEAD)..origin/$(git rev-parse --abbrev-ref HEAD)
  s = status --short --branch
  stash-all = stash save --include-untracked

[include]
  path = ~/.gitconfig.local
[secrets]
  providers = git secrets --aws-provider
  patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
  patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
  patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
  allowed = AKIAIOSFODNN7EXAMPLE
  allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
